name: Generate HTML and PDF from Markdown

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # Cache step for debian packages
      - name: Cache packages
        uses: actions/cache@v4
        with:
          path: /tmp/.pkg
          key: ${{ runner.os }}-debian-packages-${{ hashFiles('**/*.md') }}
          restore-keys: |
            ${{ runner.os }}-debian-packages-

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jdk pandoc texlive imagemagick

      - name: Find changed .md files, excluding README.md
        id: find_md_files
        run: |
            BEFORE=${{ github.event.before }}
            [ -z "$BEFORE" ] && BEFORE="origin/${{ github.base_ref }}"
            files=$(git diff --name-only "$BEFORE" ${{ github.sha }} | grep '\.md' | grep -v 'README.md' || true)
            echo "files=$files" >> $GITHUB_OUTPUT

      - name: Generate diagrams from PlantUML
        if: steps.find_md_files.outputs.files != ''
        run: |
          for file in ${{ steps.find_md_files.outputs.files }}; do
            if grep -q "@startuml" "$file"; then
              plantuml "$file"
            fi
          done

      - name: Convert .md files to HTML using Pandoc
        if: steps.find_md_files.outputs.files != ''
        run: |
          for file in ${{ steps.find_md_files.outputs.files }}; do
            pandoc "$file" -o "${file%.md}.html"
          done

      - name: Add CSS inline to HTML files
        if: steps.find_md_files.outputs.files != ''
        run: |
          css="body { font-family: Arial, sans-serif; } img { max-width: 100%; height: auto; }"
          for htmlfile in *.html; do
            echo "<style>${css}</style>" | cat - "$htmlfile" > temp && mv temp "$htmlfile"
          done 

      - name: Convert images to base64 and update HTML
        if: steps.find_md_files.outputs.files != ''
        run: |
          for htmlfile in *.html; do
            sed -i.bak -E 's|(src=")([^"]+\.(png|jpg|jpeg|gif|svg))|\\1data:image/png;base64,$(base64 -w 0 \2)|g' "$htmlfile"
          done

      - name: Convert .md files to PDF using Pandoc
        if: steps.find_md_files.outputs.files != ''
        run: |
          for file in ${{ steps.find_md_files.outputs.files }}; do
            pandoc "$file" -o "${file%.md}.pdf"
          done

      - name: Commit and push HTML and PDF files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add *.pdf *.html 2>/dev/null || true
          git commit -m "Generate HTML and PDF for updated Markdown files" || echo "No changes to commit"
          git push
